body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section .slider-box {
  width: 100%;
  position: relative;
}
section .slider-box .slider {
  width: 100%;
}
section .slider-box .slider .slider__item {
  overflow: hidden;
  outline: none;
  height: 530px;
}
section .slider-box .slider .slider__item.title  {
  font-family: 'Simonetta', sans-serif;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .slider-box .slider .slider__item.title.sup {
  border: 1px solid #00000079;
  padding: 0 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section .slider-box .slider .slider__item img.picture {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.left-arr {
  position: absolute;
  top: 50%;
  left: 3%;
  margin-top: -45px;
  cursor: pointer;
}
.right-arr {
  position: absolute;
  top: 50%;
  right: 3%;
  margin-top: -45px;
  cursor: pointer;
}
@media screen and ( max-width: 550px ) {
  .left-arr, .right-arr {
    opacity: 0.060;
  }
  .left-arr:hover, .right-arr:hover {
    opacity: 1;
  }
}